{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:react/recommended"
  ],
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "valid-jsdoc": [
      "warn",
      {
        "prefer": {
          "return": "returns"
        },
        "requireReturn": false
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": false,
          "ClassDeclaration": false
        }
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "log",
          "error",
          "warn",
          "info"
        ]
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "ignore",
        "named": "ignore",
        "asyncArrow": "ignore"
      }
    ]
  },
  "plugins": [
    "react",
    "import"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
