$appbar-height: 64px;
$sidedrawer-width: 11rem;
$footer-height: 160px;
$padding-left: 1.2rem;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

.fixed {
  position: fixed;
}

.noUserSelect {
  user-select: none;
}
