@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";
@import "~react-toolbox/lib/mixins";
@import "./colors";
@import "./type";

//$color-primary: $palette-blue-500;
//$color-primary-dark: $palette-blue-700;

$list-item-hover-color: $palette-grey-200;
$list-item-min-height: 3 * $unit;

$footer-height: 8 * $unit;

$appbar-height: 64px;
$sidedrawer-width: 11rem;
$footer-height: 160px;
$padding-left: 1.2rem;

.fixed {
  position: fixed;
}

.noUserSelect {
  user-select: none;
}
