.text-thin {
  font-weight: 100;
}

.text-roman {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-xsmall {
  font-size: 0.5rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-medium {
  font-size: 1rem;
}

.text-large {
  font-size: 1.5rem;
}

.text-xlarge {
  font-size: 3rem;
}