@import 'styles/theme';

.footer {
  background-color: $color-primary-dark;
  color: $color-white;
  margin-left: 0;
  padding-left: 1rem;
  transition: margin-left 0.2s;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer a {
  color: $color-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
